@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap")
@import '_vars'
@import 'normalize'

*
  transition: all .1s ease-in-out
  text-overflow: ellipsis

::-webkit-scrollbar
  width: 6px
::-webkit-scrollbar-track
  background-color: darkgrey
::-webkit-scrollbar-thumb
  background-color: #f16d7f
  border-radius: 10px

a
  cursor: pointer
button
  cursor: pointer
.overflow-hidden
  overflow: hidden

.center
  padding-left: max(calc(50% - 570px), 24px)
  padding-right: max(calc(50% - 570px), 24px)

@media (max-width: $maxWidthLaptop)
  .center
    padding-left: 16px
    padding-right: 16px

@media (max-width: $maxWidthTablet)
  .center
    padding-left: 12px
    padding-right: 12px

@media (max-width: $maxWidthMobileL)
  .center
    padding-left: 8px
    padding-right: 8px
  .hideMobileL
    display: none !important

@media (max-width: $maxWidthMobileS)
  .hideMobileS
    display: none !important

@media (min-width: $maxWidthMobileL)
  .showMobileL
    display: none !important

.accent
  color: $accentColor

.btn
  box-sizing: border-box
  background: none
  border: 1px solid transparent
  //border-radius: 5px
  transition: all ease-in-out .2s
  cursor: pointer
  color: #acacac
  &-color
    &:hover
      background: $accentColor
  &-tint
    &:hover
      background: $accentColorTinted
  &-proceed
    color: white
    background: #4545ea
    border: 2px solid #3434b7
    box-shadow: 2px 2px 8px 0px black
    &:hover
      background: #3434b7
  &-cancel
    color: white
    background: #e21431
    border: 2px solid #b31129
    box-shadow: 2px 2px 8px 0px black
    &:hover
      background: #b31129
