@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap")
@import './_vars'

*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  &:visited
    color: $accentColor

body
  font-family: 'Lato', sans-serif

summary::-webkit-details-marker
  display: none
